---
{
"title":"picogen starter template"
}
---

<div class="md:mx-24 lg:mx-60 bg-white">
  <!-- HEADER START -->
  <section id="home" class="bg-lic-yellow flex justify-between px-4 lg:px-32 py-1 text-sm">
    <a href="tel:+917208822646" class="font-semibold hover:text-blue-800"><i
        class="fa-solid fa-phone pr-1"></i><span>+91 72088 22646</span></a>
    <a href="mailto:careerinlic@gmail.com" class="font-semibold hover:text-blue-800"><i
        class="fa-solid fa-envelope pr-1"></i><span>careerinlic@gmail.com</span></a>
  </section>
  <nav class="sticky top-0 z-30 bg-lic-blue text-white">
    <div class="md:hidden menu-toggle flex flex-col items-center cursor-pointer py-2">
      <div class="bg-white w-8 h-1 my-1 bar1 origin-top-right transition-all duration-300"></div>
      <div class="bg-white w-8 h-1 my-1 bar2 transition-all duration-300"></div>
      <div class="bg-white w-8 h-1 my-1 bar3 origin-bottom-right transition-all duration-300"></div>
    </div>
    <ul class="menu overflow-hidden pl-8 md:pl-0 h-0 md:h-auto flex flex-col md:flex-row justify-evenly">
      <li onclick="document.getElementById('home').scrollIntoView(true); menuExpand()"
        class="cursor-pointer inline-block py-4 border-b-4 border-solid border-transparent hover:border-lic-yellow transition-all duration-300">
        Home</li>
      <li onclick="document.getElementById('process').scrollIntoView(true); menuExpand()"
        class="cursor-pointer inline-block py-4 border-b-4 border-solid border-transparent hover:border-lic-yellow transition-all duration-300">
        Process</li>
      <li onclick="document.getElementById('benefits').scrollIntoView(true); menuExpand()"
        class="cursor-pointer inline-block py-4 border-b-4 border-solid border-transparent hover:border-lic-yellow transition-all duration-300">
        Benefits</li>
      <li onclick="document.getElementById('contact').scrollIntoView(true); menuExpand()"
        class="cursor-pointer inline-block py-4 border-b-4 border-solid border-transparent hover:border-lic-yellow transition-all duration-300">
        Contact us</li>
    </ul>
  </nav>
  <section class="splide-bg splide py-8 relative overflow-hidden" aria-labelledby="Why work as a LIC Agent?">
    <h2 id="carousel-heading" class="text-center font-semibold text-3xl pb-8">Why work as a LIC Agent?</h2>
    <img src="patternpad-2.svg" class="absolute w-20 -top-5 -left-5 rounded-full" alt="">
    <img src="patternpad-2.svg" class="absolute w-20 -bottom-5 -right-5 rounded-full" alt="">

    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide font-semibold text-2xl text-center px-10">An exciting opportunity to grow your
          career
          and earn money awaits you!</li>
        <li class="splide__slide text-center px-10">
          <p class="font-medium text-xl">Financially Independent</p>
          <p>Earn commissions and Rewards while you expand your reach and grow your business.</p>
          <p class="font-medium text-xl mt-5">Decide Your Work Style</p>
          <p>Choose where to work, when to work - from your home or office at your pace, on your schedule.
          </p>
        </li>
        <li class="splide__slide text-center px-10">
          <p class="font-medium text-xl">Rewards & Recognition</p>
          <p>We recognize performance and reward success through awards, incentives, and various programs
            held
            nationally and internationally for MDRTs.</p>
          <p class="font-medium text-xl mt-5">Change Maker</p>
          <p>A great opportunity to make a difference in the lives of others by helping them Secure and
            save
            by choosing the right insurance products and plans.</p>
        </li>
      </ul>
    </div>
  </section>
  <!-- HEADER END -->

  <main>
    <!-- INTRO START -->
    <section class="flex flex-col md:flex-row mx-4 my-16 lg:mx-8 space-y-4 md:space-y-0 md:justify-center">
      <div class="flex justify-center items-start w-full md:w-1/4 md:mr-4">
        <button type="button" onclick="popupDisplay();"
          class="font-bold border-2 px-4 py-2 bg-lic-blue text-white hover:bg-lic-yellow hover:text-black rounded-md border-none text-xl md:text-xs lg:text-xl">ANSWER
          5 QUESTIONS AND APPLY FOR FREE</button>
      </div>
      <section class="w-full md:w-1/2 flex flex-col justify-center items-center">
        <h1 class="font-semibold text-4xl mb-8 border-b-4 border-b-lic-yellow">CAREER IN LIC</h1>
        <p class="text-justify">At Life Insurance Corporation of India, we are encouraging individuals to
          join
          LIC of India as a
          insurance
          advisor part time or full-time. We encourage professionals to join LIC agency to make use of
          their
          professional
          contacts to increase their income. We encourage business persons to maximise income with use of
          their
          business
          skills., we encourage housewifes to make best use of their time to earn more income, and we
          encourage
          our
          youngsters to use their energy to crate future income.</p>
      </section>
      <div class="flex justify-center items-start w-full md:w-1/4 md:ml-4">
        <button type="button" onclick="document.getElementById('apply').scrollIntoView(true);"
          class="font-bold border-2 px-4 py-2 bg-lic-blue text-white hover:bg-lic-yellow hover:text-black rounded-md border-none text-xl md:text-xs lg:text-xl">APPLY
          TO BECOME A LIC AGENT</button>
      </div>
    </section>
    <!-- INTRO END -->
    <!-- PROCESS START -->
    <article id="process" class="mx-4 lg:mx-16 scroll-mt-80 md:scroll-mt-20">
      <header>
        <h2 class="underline underline-offset-8 decoration-lic-yellow font-semibold text-4xl my-8 text-center">
          Process
          to
          become a LIC Agent</h2>
        <div class="border-2 border-gray-300 p-4 my-8">
          <p class="py-2">To become a LIC Agent in Mumbai, you need to complete the simple process of:</p>
          <ol class="flex justify-around list-decimal list-inside flex-wrap flex-col md:flex-row gap-y-4">
            <li onclick="document.getElementById('application').scrollIntoView(true);"
              class="border bg-cyan-600 cursor-pointer py-1 px-3 text-white hover:font-semibold">
              Application</li>
            <li onclick="document.getElementById('documentation').scrollIntoView(true);"
              class="border bg-cyan-600 cursor-pointer py-1 px-3 text-white hover:font-semibold">
              Documentation</li>
            <li onclick="document.getElementById('preparation').scrollIntoView(true);"
              class="border bg-cyan-600 cursor-pointer py-1 px-3 text-white hover:font-semibold">
              Preparation</li>
            <li onclick="document.getElementById('examination').scrollIntoView(true);"
              class="border bg-cyan-600 cursor-pointer py-1 px-3 text-white hover:font-semibold">
              Examination</li>
            <li onclick="document.getElementById('license').scrollIntoView(true);"
              class="border bg-cyan-600 cursor-pointer py-1 px-3 text-white hover:font-semibold">
              License</li>
          </ol>
        </div>
      </header>
      <section id="application" class="p-4 scroll-mt-20 border-2 rounded-md mb-8 bg-gray-50">
        <h3 class="font-semibold text-2xl mb-4 before:content-['1.'] before:mr-1">Application for LIC Agency
        </h3>
        <p>You need to apply for LIC agency with proper documentation given as below and filling of
          application
          form given by us. You can visit LIC branch office for it or you can fix appointment with our
          team
          members at your work place or at your home at your convenient time to complete process.</p>
      </section>
      <section id="documentation"
        class="p-4 scroll-mt-20 border-2 rounded-md mb-8 bg-gray-50 flex flex-wrap justify-between">
        <h3 class="font-semibold text-2xl mb-4 before:content-['2.'] before:mr-1 w-full">Documentation FOR
          LIC
          AGENCY
        </h3>
        <div class="w-full lg:w-3/6">
          <p>While meeting us please carry a photocopy of these documents for your easy registration.
            These
            documents are necessary for examination and for the license to become LIC agent.</p>
          <ul class="list-disc list-inside my-4">
            <li>4 Colour Photos</li>
            <li>Age Proof</li>
            <li>School Leaving Certificate</li>
            <li>S.S.C Marksheet</li>
            <li>H.S.C. Marksheet</li>
            <li>Graduation Marksheet</li>
            <li>Pan Card</li>
            <li>Address Proof</li>
            <li>Cancelled Cheque</li>
          </ul>
        </div>
        <div class="w-full lg:w-2/5">
          <h4 class="font-semibold text-lg">Fee structure for examination:</h4>
          <table class="border-spacing-x-10 border-separate my-4">
            <tr>
              <td class="border border-transparent">Registration Fee</td>
              <td class="border border-transparent">Rs. 150</td>
            </tr>
            <tr>
              <td class="border border-transparent">Online training</td>
              <td class="border border-transparent">Rs. 150</td>
            </tr>
            <tr>
              <td class="border border-transparent">Online exam fee</td>
              <td class="border border-transparent">Rs. 500</td>
            </tr>
            <tr>
              <td class="border border-transparent border-t-black"><strong>Total Fees</strong></td>
              <td class="border border-transparent border-t-black"><strong>Rs. 800</strong></td>
            </tr>
          </table>
          <p>You need to pay total fees of Rs. 800 to become a LIC agent, but if you <span
              class="text-cyan-600 hover:border-b-2 border-b-cyan-600 cursor-pointer quiz">solve these
              5
              questions
              correctly then you need not pay any fees</span>.</p>
        </div>
      </section>
      <section id="preparation" class="p-4 scroll-mt-20 border-2 rounded-md mb-8 bg-gray-50">
        <h3 class="font-semibold text-2xl mb-4 before:content-['3.'] before:mr-1">Preparation</h3>
        <p>You need to complete <strong>online or offline training of 25 hours</strong> for examination.</p>
        <ul class="list-inside list-disc my-4">
          <li class="py-1">We will provide you study material with the necessary training.</li>
          <li class="py-1">Training will be held offline or online as per your convenience.</li>
          <li class="py-1">You will receive a training certificate from LIC after completion of 25 hours
            of
            training.</li>
        </ul>
      </section>
      <section id="examination" class="p-4 scroll-mt-20 border-2 rounded-md mb-8 bg-gray-50">
        <h3 class="font-semibold text-2xl mb-4 before:content-['4.'] before:mr-1">Examination</h3>
        <p>After successful completion of training, you need to give an online examination conducted by the
          <a href="https://www.irdai.gov.in/" class="text-cyan-600 hover:border-b-2 border-b-cyan-600">Insurance
            Regulatory and
            Development
            Authority (IRDA)</a>.
        </p>
        <p>You will clear the exam after securing the required passing marks - 17/50</p>
      </section>
      <section id="license" class="p-4 scroll-mt-20 border-2 rounded-md mb-8 bg-gray-50">
        <h3 class="font-semibold text-2xl mb-4 before:content-['5.'] before:mr-1">License</h3>
        <p>After successful completion of the examination, you will be awarded an Appointment Letter by the
          IRDA
          to work as an insurance agent.</p>
        <p>You will be appointed as a LIC Agent!</p>
      </section>
    </article>
    <!-- PROCESS END -->
    <!-- BENEFITS START -->
    <article id="benefits" class="mx-4 lg:mx-16 scroll-mt-80 md:scroll-mt-20">
      <header>
        <h2 class="underline underline-offset-8 decoration-lic-yellow font-semibold text-4xl my-8 text-center">
          Benefits
          of
          becoming a LIC Agent</h2>
        <p>The work is difficult so it is worth doing. And if you put your efforts into it, you will
          definitely
          achieve good Results. Some Of the major benefits of your work as insurance advisor will be:</p>
      </header>
      <section class="p-4 border-2 rounded-md my-8 bg-gray-50">
        <h3 class="font-semibold text-2xl mb-4 before:content-['1.'] before:mr-1">Commission and Renewal
          Commission</h3>
        <section>
          <h4 class="font-semibold text-lg my-2">First Commission on sales</h4>
          <p>Under standard tables and terms, you are paid 1st year's commission of 25% of the first
            year's
            premium paid by the policy holders.</p>
        </section>
        <section>
          <h4 class="font-semibold text-lg my-2">Bonus Commission</h4>
          <p>You are entitled to bonus commission at the rate of 40% of the eligible first year commission
            provided you fulfil certain requirements as to total first year's premium secured and number
            of
            lives you have insured in your agency-year.</p>
        </section>
        <section>
          <h4 class="font-semibold text-lg my-2">Renewal Commission</h4>
          <p>The agent is paid 7.5 per cent of the amount paid by the policy holders (under standard
            tables
            and terms) as the second as well as the third year's premiums and continues to be paid
            renewal
            commission of 5% on every year's premium paid from the fourth year onwards. Renewal
            commission
            is payable on renewal premium. Hence, you should ensure that your client keeps the policy in
            force. If you remind him to pay premiums, you will be rendering a good service to him.</p>
        </section>
        <section>
          <h4 class="font-semibold text-lg my-2">Hereditary Commission</h4>
          <p>In case of agent's death while his agency subsists, after agency was in force for two years
            or
            over, renewal commission will continue to be payable to his heirs or nominee provided there
            was
            a business of not less than Rs. 1 lakh in force at the time of death.</p>
        </section>
      </section>
      <section class="p-4 border-2 rounded-md mb-8 bg-gray-50">
        <h3 class="font-semibold text-2xl mb-4 before:content-['2.'] before:mr-1">Guaranteed Income Benefit
        </h3>
        <p>In the event of termination of agency because of non-performance, any time after five agency
          years
          but before completion of 10 agency years, the renewal commission continues to be payable
          provided
          you had nominal business of at least Rs. 2 lakhs in force one year before cessation of agency.
          This
          condition is waived in the event of cessation after the agent has worked for ten years or more.
          Increasing Income Renewal Commission Term Insurance</p>
        <section>
          <h4 class="font-semibold text-lg my-2">Increasing Income Benefit</h4>
          <p>With the above recurring income-feature of the insurance compensation your income goes on
            steadily increasing every year. Each succeeding year's new sales add to the renewal
            commission
            on the previous year's business. Your renewal commission will grow faster every year, if
            with
            increasing expertise, you do more and more business as years roll by.</p>
        </section>
        <section>
          <h4 class="font-semibold text-lg my-2">Retirement Benefit</h4>
          <p>Gratuity upto a maximum of Rs. 2,00,000/- is payable under Schedule VI of the (Agents) Rules,
            1972 provided the agent has completed the business guarantee for at least 15 years called as
            “qualifying years”.</p>
        </section>
        <section>
          <h4 class="font-semibold text-lg my-2">Term Insurance Benefit</h4>
          <p>Free family protection: Free term insurance is payable under Schedule VI of the (Agents)
            Rules,
            1972 in the event of death of a confirmed agent before age 60 provided among other
            conditions:
            <br />(a) he was appointed before age 50 <br />(b) he has completed at least 3 “qualifying
            years” <br />(c) his
            agency was in force on the date of death, and <br />(d) he holds an insurance policy (other
            than
            a
            temporary insurance policy) for at least Rs. 5,000/- at the time of death.
          </p>
        </section>
      </section>
      <section class="p-4 border-2 rounded-md mb-8 bg-gray-50">
        <h3 class="font-semibold text-2xl mb-4 before:content-['3.'] before:mr-1">Club Membership</h3>
        <p>Being a member of the club carries a good deal of prestige as it provides concrete evidence in
          the
          eyes of the insuring public that you are working with a spirit of devotion, dedication and
          professionalism in serving the insuring public. It also entitles you to various fringe benefits
          according to the membership of different clubs, as following -</p>
        <ol class="list-inside list-disc my-4">
          <li>Corporate Club</li>
          <li>Chairmans club</li>
          <li>Zonal managers club</li>
          <li>Divisional managers club</li>
          <li>Branch managers club</li>
        </ol>
        <p>Fix an Appointment to discuss it.</p>
      </section>
    </article>
    <!-- BENEFITS END -->
    <div class="flex flex-col md:flex-row mx-4 lg:mx-16 md:justify-between pb-16">
      <!-- CONTACT START -->
      <section id="contact" class="scroll-mt-80 md:scroll-mt-20 w-full md:w-2/5">
        <h2 class="underline underline-offset-8 decoration-lic-yellow font-semibold text-4xl my-8">
          Get
          in touch with us</h2>
        <ol class="lg:text-lg">
          <li class="py-4 flex items-center">
            <div class="mr-4 lg:mr-8 p-4 w-12 h-12 rounded-full bg-cyan-400 flex justify-center items-center">
              <i class="fa-solid fa-location-dot"></i>
            </div><span>LIC Branch 909 5th floor, Bombay
              Mutual Terrace, Charni Road East,
              Mumbai,
              Maharashtra 400007</span>
          </li>
          <li class="py-4 flex items-center">
            <div class="mr-4 lg:mr-8 p-4 w-12 h-12 rounded-full bg-cyan-400 flex justify-center items-center">
              <i class="fa-solid fa-phone"></i>
            </div><a href="tel:+917208822646">+9172088
              22646<br />(SBA Gaurav Bailbhare)</a>
          </li>
          <li class="py-4 flex items-center">
            <div class="mr-4 lg:mr-8 p-4 w-12 h-12 rounded-full bg-cyan-400 flex justify-center items-center">
              <i class="fa-solid fa-envelope"></i>
            </div><a href="mailto:careerinlic@gmail.com">careerinlic@gmail.com</a>
          </li>
        </ol>
      </section>
      <!-- CONTACT END -->
      <!-- APPLY FORM START -->
      <section class="flex flex-col scroll-mt-80 md:scroll-mt-20 w-full md:w-7/12" id="apply">
        <h2 class="underline underline-offset-8 decoration-lic-yellow font-semibold text-4xl my-8">Apply to
          become a
          LIC Agent</h2>
        <form onsubmit="submitForm(event)" class="flex flex-wrap space-y-6 md:justify-between">
          <div class="w-full md:w-2/5 relative">
            <input type="text" name="name" id="first-name"
              class="placeholder-transparent peer mt-4 border-b-2 focus:outline-none focus:border-lic-blue focus:border-opacity-100 px-2 pb-1 w-4/5 md:w-11/12 lg:w-auto"
              placeholder="First Name" maxlength="50" required>
            <label for="first-name"
              class="absolute -top-1.5 left-2 text-gray-600 text-xs peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-4 transition-all peer-focus:-top-1.5 peer-focus:text-gray-600 peer-focus:text-xs w-4/5 md:w-auto cursor-text select-none">First
              Name:</label>
          </div>
          <div class="w-full md:w-2/5 relative md:!mt-0">
            <input type="text" name="last-name" id="last-name"
              class="placeholder-transparent peer mt-4 border-b-2 focus:outline-none focus:border-lic-blue focus:border-opacity-100 px-2 pb-1 w-4/5 md:w-11/12 lg:w-auto"
              placeholder="Last Name" maxlength="50" required>
            <label for="last-name"
              class="absolute -top-1.5 left-2 text-gray-600 text-xs peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-4 transition-all peer-focus:-top-1.5 peer-focus:text-gray-600 peer-focus:text-xs w-4/5 md:w-auto cursor-text select-none">Last
              Name:</label>
          </div>
          <div class="w-full md:w-2/5 relative">
            <input type="tel" name="phone" id="phone"
              class="placeholder-transparent peer mt-4 border-b-2 focus:outline-none focus:border-lic-blue focus:border-opacity-100 px-2 pb-1 w-4/5 md:w-11/12 lg:w-auto"
              placeholder="Mobile Number" maxlength="12" pattern="[0-9]{10,12}" required>
            <label for="phone"
              class="absolute -top-1.5 left-2 text-gray-600 text-xs peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-4 transition-all peer-focus:-top-1.5 peer-focus:text-gray-600 peer-focus:text-xs w-4/5 md:w-auto cursor-text select-none">Mobile
              Number:</label>
          </div>
          <div class="w-full md:w-2/5 relative">
            <input type="email" name="email" id="email"
              class="placeholder-transparent peer mt-4 border-b-2 focus:outline-none focus:border-lic-blue focus:border-opacity-100 px-2 pb-1 w-4/5 md:w-11/12 lg:w-auto"
              placeholder="Email" maxlength="75" required>
            <label for="email"
              class="absolute -top-1.5 left-2 text-gray-600 text-xs peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-4 transition-all peer-focus:-top-1.5 peer-focus:text-gray-600 peer-focus:text-xs w-4/5 md:w-auto cursor-text select-none">Email:</label>
          </div>
          <div class="w-full md:w-2/5 relative">
            <input type="text" name="profession" id="profession"
              class="placeholder-transparent peer mt-4 border-b-2 focus:outline-none focus:border-lic-blue focus:border-opacity-100 px-2 pb-1 w-4/5 md:w-11/12 lg:w-auto"
              placeholder="Profession" maxlength="50" required>
            <label for="profession"
              class="absolute -top-1.5 left-2 text-gray-600 text-xs peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-4 transition-all peer-focus:-top-1.5 peer-focus:text-gray-600 peer-focus:text-xs w-4/5 md:w-auto cursor-text select-none">Profession:</label>
          </div>
          <div class="w-full md:w-2/5 relative">
            <input type="text" name="city" id="city"
              class="placeholder-transparent peer mt-4 border-b-2 focus:outline-none focus:border-lic-blue focus:border-opacity-100 px-2 pb-1 w-4/5 md:w-11/12 lg:w-auto"
              placeholder="City" maxlength="50" required>
            <label for="city"
              class="absolute -top-1.5 left-2 text-gray-600 text-xs peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-4 transition-all peer-focus:-top-1.5 peer-focus:text-gray-600 peer-focus:text-xs w-4/5 md:w-auto cursor-text select-none">City:</label>
          </div>
          <div class="w-full md:w-2/5 relative">
            <input type="text" name="address" id="address"
              class="placeholder-transparent peer mt-4 border-b-2 focus:outline-none focus:border-lic-blue focus:border-opacity-100 px-2 pb-1 w-4/5 md:w-11/12 lg:w-auto"
              placeholder="Address" maxlength="75" required>
            <label for="address"
              class="absolute -top-1.5 left-2 text-gray-600 text-xs peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-4 transition-all peer-focus:-top-1.5 peer-focus:text-gray-600 peer-focus:text-xs w-4/5 md:w-auto cursor-text select-none">Street
              Address:</label>
          </div>
          <div class="w-full md:w-2/5 relative">
            <input type="text" name="pincode" id="pincode"
              class="placeholder-transparent peer mt-4 border-b-2 focus:outline-none focus:border-lic-blue focus:border-opacity-100 px-2 pb-1 w-4/5 md:w-11/12 lg:w-auto"
              placeholder="pincode" maxlength="6" pattern="[0-9]{4,6}" required>
            <label for="pincode"
              class="absolute -top-1.5 left-2 text-gray-600 text-xs peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-4 transition-all peer-focus:-top-1.5 peer-focus:text-gray-600 peer-focus:text-xs w-4/5 md:w-auto cursor-text select-none">Pincode:</label>
          </div>
          <div class="w-full">
            <button type="submit"
              class="font-semibold border-2 px-4 py-2 block mx-auto bg-lic-blue text-white hover:bg-lic-yellow hover:text-black rounded-md border-none">Submit</button>
          </div>
        </form>
      </section>
      <!-- APPLY FORM END -->
    </div>
    <!-- POPUP START -->
    <div class="hidden fixed top-0 left-0 w-full h-full bg-black/40 z-40 popup justify-center items-center shadow-2xl">
      <form onsubmit="submitForm(event); popupDisplay(); pageReset();"
        class="popup-content relative w-4/5 md:w-3/4 h-4/5 lg:w-1/2 bg-neutral-50 overflow-y-auto p-4 md:p-8 flex justify-center items-center overflow-x-hidden">
        <span
          class="close absolute top-2 right-2 text-2xl cursor-pointer rounded-full border border-white w-9 h-9 text-center bg-lic-blue text-white font-bold hover:bg-lic-yellow hover:text-black">&times;</span>
        <div class="page">
          <p class="mb-8 underline underline-offset-8 decoration-lic-yellow font-semibold md:text-2xl">Answer 5
            questions and apply for FREE!</p>
          <p class="before:content-['1.'] before:mr-1 my-4">What is the main business of LIC?</p>
          <div class="border border-gray-400 rounded-lg">
            <label for="real-estate" class="inputs border-b rounded-t-lg border-gray-400 inline-block w-full p-2">
              <input type="radio" name="business" id="real-estate" value="real-estate" class="invisible" required>Real
              Estate
            </label><br />
            <label for="insurance" class="inputs rounded-b-lg correct inline-block w-full p-2">
              <input type="radio" name="business" id="insurance" value="insurance" class="invisible" required>Insurance
            </label>
          </div>
        </div>
        <div class="hidden page">
          <p class="mb-8 underline underline-offset-8 decoration-lic-yellow font-semibold md:text-2xl">QUESTION #2</p>
          <p class="before:content-['2.'] before:mr-1 my-4">Where is LIC situated?</p>
          <div class="border border-gray-400 rounded-lg">
            <label for="india" class="inputs correct border-b rounded-t-lg border-gray-400 inline-block w-full p-2">
              <input type="radio" name="situated" id="india" value="india" class="invisible" required>India
            </label><br />
            <label for="usa" class="inputs rounded-b-lg inline-block w-full p-2">
              <input type="radio" name="situated" id="usa" value="usa" class="invisible" required>USA
            </label>
          </div>
        </div>
        <div class="hidden page">
          <p class="mb-8 underline underline-offset-8 decoration-lic-yellow font-semibold md:text-2xl">QUESTION #3</p>
          <p class="before:content-['3.'] before:mr-1 my-4">What is the formation day of LIC?</p>
          <div class="border border-gray-400 rounded-lg">
            <label for="february" class="inputs border-b rounded-t-lg border-gray-400 inline-block w-full p-2">
              <input type="radio" name="formation" id="february" value="february" class="invisible"
                required>29<sup>th</sup> February 2002
            </label><br />
            <label for="september-1956" class="inputs rounded-b-lg correct inline-block w-full p-2">
              <input type="radio" name="formation" id="september-1956" value="september-1956" class="invisible"
                required>1<sup>st</sup> September
              1956
            </label>
          </div>
        </div>
        <div class="hidden page">
          <p class="mb-8 underline underline-offset-8 decoration-lic-yellow font-semibold md:text-2xl">QUESTION #4</p>
          <p class="before:content-['4.'] before:mr-1 my-4">Is LIC registered on stock market?</p>
          <div class="border border-gray-400 rounded-lg">
            <label for="Yes" class="inputs correct border-b rounded-t-lg border-gray-400 inline-block w-full p-2">
              <input type="radio" name="stock-market" id="Yes" value="Yes" class="invisible" required>Yes
            </label><br />
            <label for="No" class="inputs rounded-b-lg inline-block w-full p-2">
              <input type="radio" name="stock-market" id="No" value="No" class="invisible" required>No
            </label>
          </div>
        </div>
        <div class="hidden page">
          <p class="mb-8 underline underline-offset-8 decoration-lic-yellow font-semibold md:text-2xl">QUESTION #5</p>
          <p class="before:content-['5.'] before:mr-1 my-4">Is it necessary to pass exam to become a LIC
            agent?</p>
          <div class="border border-gray-400 rounded-lg">
            <label for="Yespass" class="inputs correct border-b rounded-t-lg border-gray-400 inline-block w-full p-2">
              <input type="radio" name="exam" id="Yespass" value="Yes" class="invisible" required>Yes
            </label><br />
            <label for="Nopass" class="inputs rounded-b-lg inline-block w-full p-2">
              <input type="radio" name="exam" id="Nopass" value="No" class="invisible" required>No
            </label>
          </div>
        </div>
        <div class="hidden page">
          <h2 class="underline underline-offset-8 decoration-lic-yellow font-semibold md:text-2xl">Personal Details</h2>
          <div class="flex flex-wrap my-8 space-y-8">
            <div class="w-full md:w-1/2 relative">
              <input type="text" name="name" id="full-name-quiz"
                class="placeholder-transparent peer mt-4 border-b-2 focus:outline-none focus:border-lic-blue focus:border-opacity-100 px-2 pb-1 w-4/5 md:w-11/12 lg:w-auto"
                placeholder="Full Name" maxlength="75" required>
              <label for="full-name-quiz"
                class="absolute -top-1.5 left-2 text-gray-600 text-xs peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-4 transition-all peer-focus:-top-1.5 peer-focus:text-gray-600 peer-focus:text-xs w-4/5 md:w-auto cursor-text select-none">Full
                Name:</label>
            </div>
            <div class="w-full md:w-1/2 relative md:!mt-0">
              <input type="tel" name="phone" id="phone-quiz"
                class="placeholder-transparent peer mt-4 border-b-2 focus:outline-none focus:border-lic-blue focus:border-opacity-100 px-2 pb-1 w-4/5 md:w-11/12 lg:w-auto"
                placeholder="Mobile Number" maxlength="12" pattern="[0-9]{10,12}" required>
              <label for="phone-quiz"
                class="absolute -top-1.5 left-2 text-gray-600 text-xs peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-4 transition-all peer-focus:-top-1.5 peer-focus:text-gray-600 peer-focus:text-xs w-4/5 md:w-auto cursor-text select-none">Mobile
                Number:</label>
            </div>
            <div class="w-full inline-flex justify-center">
              <button type="submit"
                class="font-semibold border-2 px-4 py-2 bg-lic-blue text-white hover:bg-lic-yellow hover:text-black rounded-md border-none">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- POPUP END -->
  </main>
</div>